body {
	margin:0;
	background-color: #f8f8ff;
}
/*メイン画面*/
.main {
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
	list-style:none;
	padding-left:10px;
	padding-right:10px;
	display:inline-grid;
}
/*メイン画面のタイトルコード*/
.main-name {
	width:100%;
	height:60%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10%;
	text-align:center;
	margin-bottom:120px;
}
.main-name h1 {
	color:#545454;
	font-family:Palatino Linotype;
	font-size:50px;
	border-bottom:2px solid gray;
	max-width:700px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
}
/*SNSのコード*/
.main-sns {
	width:100%;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}
.main-sns img {
	height:50px;
	margin-right:20px;
	margin-left:20px;
	display:inline-block;
}
.main-sns img:hover {
	opacity: 0.2;
}
footer {
	background-color:#545454;
	color:#f8f8ff;
	padding: 50;
	text-align:center;
	margin-top:40px;
}
@media screen and ( max-width:630px) {
	.main-name {
		margin-top:15%;
		height:30%;
	}
	.main-name h1 {
		font-size:30px;
	}
	.main-sns img {
		height:8vw;
		margin-right:3vw;
		margin-left:3vw;
		display:inline-block;
	}
